<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" ng-app="rockola">

    <head>
        <title>Rockola</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
    <body style="background-image: linear-gradient(to top, #b5c0c6 0%, #ffffff 100%);">

        <h1 style="text-align: center" class="m-5">La Rockola</h1>
    </body>
</html>

<body class="bg-light">
    <header>

    </header>
    <main class="row m-3" ng-controller="filasCanciones">
        <section class="m-1 p-3 mx-auto container-md border bg-white" style=border-radius:0.5rem>
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col" style="text-align: center">ID Cancion</th>
                        <th scope="col" style="text-align: center">Nombre Cancion</th>
                        <th scope="col" style="text-align: center">ID Artista</th>
                        <th scope="col" style="text-align: center">ID Genero</th>
                        <th scope="col" style="text-align: center">Año Lanzamiento</th>
                        <!--<th scope="col">Acciones</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in filas">
                        <td>{{fila.Id_canciones}}</td>
                        <td>{{fila.nombre_canciones}}</td>
                        <td>{{fila.Id_artista}}</td>
                        <td>{{fila.Id_genero}}</td>
                        <td>{{fila.anio}}</td>
                        <!--<td>
                            <button type="button" class="btn btn-success">Editar</button>
                            <button type="button" class="btn btn-danger">Remover</button>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </section>

        <article class="col-sm"> <!--Angularjs-->
            <section class="m-2 p-3 mx-auto container-md border bg-white " style=border-radius:0.5rem;>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Id Genero</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id"/>
                    <br/>
                    <button type="button" class="btn btn-danger" ng-click="consultar()">Buscar</button>
                </div>
            </section>
            <section class="m-2 p-3 mx-auto container-md bg-white" style=border-radius:0.5rem>
                <div class="mb-3">
                    <label for="nombre_genero" class="form-label">Nombre genero</label>
                    <input type="text" class="form-control" id="nombre_genero"  value="{{nombre_genero}}" ng-model="nombre_genero"/>
                    <label for="tipo_genero" class="form-label">Tipo genero</label>
                    <input type="text" class="form-control" id="tipo_genero"  value="{{tipo_genero}}" ng-model="tipo_genero"/>
                    <label for="pais" class="form-label">Pais</label>
                    <input type="text"  class="form-control" id="pais"  value="{{pais}}" ng-model="pais"/>
                    <label for="categorias" class="form-label">Categorias</label>
                    <input type="text"  class="form-control" id="categorias"  value="{{categorias}}" ng-model="categorias"/>
                    <br/> <!--salto de línea-->
                    <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                </div>
            </section>
        </article>
        <article class="col-sm">            
            <section class="m-2 p-3 mx-auto container-md border bg-white" style=border-radius:0.5rem>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Eliminar canción</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id"/>
                    <br/>
                    <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                </div>
            </section>
            <section class="m-2 p-3 mx-auto container-md border bg-white" style=border-radius:0.5rem>
                <div class="mb-3">
                    <label for="nombre_genero" class="form-label">nombre_genero</label>
                    <input type="text" class="form-control" id="nombre_genero"  value="{{nombre_genero}}" ng-model="nombre_genero"/>
                    <label for="tipo_genero" class="form-label">tipo_genero</label>
                    <input type="text" class="form-control" id="tipo_genero"  value="{{tipo_genero}}" ng-model="tipo_genero"/>
                    <label for="pais" class="form-label">pais</label>
                    <input type="text"  class="form-control" id="pais"  value="{{pais}}" ng-model="pais"/>
                    <label for="categorias" class="form-label">categorias</label>
                    <input type="text"  class="form-control" id="categorias"  value="{{categorias}}" ng-model="categorias"/>
                    <br/> <!--salto de línea-->
                    <button type="button" class="btn btn-warning" ng-click="guardarEstudiante()">Guardar</button>
                </div>
            </section>
        </article>
    </main>
    <<footer>
        <h3 style="text-align: center" class="m-1 p-1">Desarrollado por</h3>
        <h3 style="text-align: center; font-size: 95%">Andres Oviedo - Alison Muñoz - Dairon Quintero - Daniel Jaimes - Fransuat Acero</h3>
        
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
    <script src="js/id.js"></script>
</body>
</html>
